.video {
  position: relative;
  .videoBackround {
    background-image: url("../../img/video-3.cddfd713.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    #relativ {
      z-index: 3;
      .video-txt {
        padding-bottom: 150px;
        h3 {
          color: #fff;
          font-size: 2.625rem;
          font-family: Muli, sans-serif;
          font-weight: 700;
          padding-top: 80px;
        }
        p {
          color: #fff;
          font-size: 1.25rem;
          padding-bottom: 220px;
        }
      }
    }
  }
  .video-box {
    #absolute {
      position: absolute;
      top: 17rem;
      margin-left: 2rem;

      .video-link {
        position: relative;
        .play {
          .video-play {
            position: absolute;
            z-index: 10;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            box-sizing: content-box;
            display: block;
            width: 30px;
            height: 52px;
            border-radius: 50%;
            padding: 14px 25px 14px 29px;
            background: #ff1f59;

            // @keyframes animate {
            //   0% {
            //     transform: ();
            //   }
            //   100% {
            //     transform: translate();
            //   }
            // }
          }
          span {
            display: block;
            position: relative;
            z-index: 3;
            width: 0;
            height: 0;
            border-left: 36px solid #fff;
            border-top: 26px solid transparent;
            border-bottom: 26px solid transparent;
            // animation: animate 4s infinite;
            // &::after {
            //   content: "";
            //   position: absolute;
            //   left: 50%;
            //   top: 50%;
            //   transform: translateX(-50%) translateY(-50%);
            //   display: block;
            //   border-radius: 50%;
            // }

            // span {
            //   // &::after {
            //   //   z-index: 1;
            //   //   width: 95px;
            //   //   height: 95px;
            //   //   transition: 0.5s;
            //   // }
            // }

            // &::before {
            //   content: "";
            //   position: absolute;
            //   width: 105px;
            //   height: 105px;
            //   background: hsla(0, 0%, 97%, 0.5);
            //   left: 50%;
            //   top: 50%;
            //   transform: translateX(-50%) translateY(-50%);
            //   display: block;
            //   border-radius: 50%;
            // }
          }
        }
      }
    }
  }
  .video-slider {
    .video-slider-text {
      margin-top: 16em;
      margin-bottom: 4em;

      font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
      p {
        font-weight: 400;
        font-size: 1.125rem;
        padding: 15px 0;
      }
    }
  }
}
