.about4 {
  padding: 80px 0;
  .a4-txt {
    h5 {
      font-size: 1.5rem;
      color: #283034;
      font-family: Muli, sans-serif;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p{
        text-align: left;
        font-size: 1.05rem;
    }
  }
  .img-block{
      margin: 50px 0 70px 0;
      img{
          border-radius: 10px;
      }
  }
  .a4-boxes{
      text-align: left;
      margin-left: 8rem;
    .abox1,.abox2,.abox3{
        i{
            color: black;
            padding-top: 20px;
        }
        .about1-txt,.about2-txt,.about3-txt{
            color: black;    
            margin-left: 15px;
            padding-top: 20px;
    
    
            .txt-h5{
                font-weight: 700;
                margin-bottom: 0;
            }
            .txt-p{
                margin-top: 0;
                font-size: 1.125rem;
            }
        }
        
       }
    
  }
}
